body{
    background: linear-gradient(to right,rgb(144, 5, 144),rgb(150, 23, 150),rgb(126, 32, 126),rgb(145, 61, 145),rgb(144, 83, 144));
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
}